<div class="text-center">
  <div class="container">
    <br>
    <h2><%= @user.name %>さんのページ編集</h2>
    <%= render 'form', user: @user %>
    <%= link_to '戻る', @user %>
    <br>
    <br>
  </div>
</div>
