/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 body{
     text-align:center;
     height: 900px;
 }
body  .header{
      font-size:20px;
      font-weight:bold;
      background-color: #DBDBDB;
      padding: 25px;
  }

      .file_field_image {
        font-size: 20px;
        margin-left: 400px;
      }
  .container{
      margin-top:20px;
      padding-bottom: 100px;
  }
  .footer {
   background-color: #DBDBDB;
   width: 100%;
   padding: 20px 0 10px 0;
   color: white;
   margin: auto;
   padding-bottom: 10px;
   position: absolute;
   bottom: 0;
  }

  .footer p {
    color: white;
  }

  html {
   position: relative;
   min-height: 100%;
 }

 li{
    float: left;
    list-style:none;
    color: black;
    padding: 0px 10px;
 }

tbody {
  text-align:center;
}
